<div class="footer">
    <ul class="d-flex justify-content-center">
        <li class="m-2"><i class="fa-brands fa-facebook"></i></li>
        <li class="m-2"><i class="fa-brands fa-twitter"></i></li>
        <li class="m-2"><i class="fa-brands fa-instagram"></i></li>
    </ul>
</div>